@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-amber, 800);
$warn: mat-palette($mat-red);

$light-theme: mat-light-theme($primary, $accent, $warn);


$light-color-map: (
    clicked-button: map-get($mat-green, 200)
);

// Background palette for light themes.
@function custom-mat-light-theme-background() {
    @return (
        status-bar: map_get($mat-grey, 300),
        app-bar:    map_get($mat-grey, 100),
        background: map_get($mat-grey, 50),
        hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
        card:       white,
        dialog:     white,
        disabled-button: rgba(black, 0.12),
        raised-button: white,
        focused-button: $dark-focused,
        selected-button: map_get($mat-grey, 300),
        selected-disabled-button: map_get($mat-grey, 400),
        disabled-button-toggle: map_get($mat-grey, 200),
        unselected-chip: map_get($mat-grey, 300),
        disabled-list-option: map_get($mat-grey, 200),
    );
};

// Foreground palette for light themes.
@function custom-mat-light-theme-foreground() {
    @return (
        base:              black,
        divider:           $dark-dividers,
        dividers:          $dark-dividers,
        disabled:          $dark-disabled-text,
        disabled-button:   rgba(black, 0.26),
        disabled-text:     $dark-disabled-text,
        elevation:         black,
        hint-text:         $dark-disabled-text,
        secondary-text:    $dark-secondary-text,
        icon:              rgba(black, 0.54),
        icons:             rgba(black, 0.54),
        text:              rgba(black, 0.87),
        slider-min:        rgba(black, 0.87),
        slider-off:        rgba(black, 0.26),
        slider-off-active: rgba(black, 0.38),
    );
};  

$custom-light-foreground: custom-mat-light-theme-foreground();

$custom-light-background: custom-mat-light-theme-background();

$my-light-app-theme-custom-temp: map-merge($light-theme, (foreground: $custom-light-foreground));

$my-light-app-theme-custom: map-merge($my-light-app-theme-custom-temp, (background: $custom-light-background));