@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-amber, 800);
$warn: mat-palette($mat-red);

$light-theme: mat-light-theme($primary, $accent, $warn);